/* Hero Headline */

position: absolute;
width: 1372px;
height: 608px;
left: 68px;
top: 116px;



/* Dot Ornament */

position: absolute;
width: 404px;
height: 154px;
left: 68px;
top: 469px;



/* Dot */

position: absolute;
width: 196px;
height: 154px;
left: 276px;
top: 469px;



/* Ellipse 5 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 469px;

background: #F4F4F4;


/* Ellipse 15 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 490px;

background: #F4F4F4;


/* Ellipse 25 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 511px;

background: #F4F4F4;


/* Ellipse 35 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 532px;

background: #F4F4F4;


/* Ellipse 45 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 553px;

background: #F4F4F4;


/* Ellipse 55 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 574px;

background: #F4F4F4;


/* Ellipse 65 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 595px;

background: #F4F4F4;


/* Ellipse 75 */

position: absolute;
width: 7px;
height: 7px;
left: 276px;
top: 616px;

background: #F4F4F4;


/* Ellipse 6 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 469px;

background: #F4F4F4;


/* Ellipse 16 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 490px;

background: #F4F4F4;


/* Ellipse 26 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 511px;

background: #F4F4F4;


/* Ellipse 36 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 532px;

background: #F4F4F4;


/* Ellipse 46 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 553px;

background: #F4F4F4;


/* Ellipse 56 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 574px;

background: #F4F4F4;


/* Ellipse 66 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 595px;

background: #F4F4F4;


/* Ellipse 76 */

position: absolute;
width: 7px;
height: 7px;
left: 297px;
top: 616px;

background: #F4F4F4;


/* Ellipse 7 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 469px;

background: #F4F4F4;


/* Ellipse 17 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 490px;

background: #F4F4F4;


/* Ellipse 27 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 511px;

background: #F4F4F4;


/* Ellipse 37 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 532px;

background: #F4F4F4;


/* Ellipse 47 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 553px;

background: #F4F4F4;


/* Ellipse 57 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 574px;

background: #F4F4F4;


/* Ellipse 67 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 595px;

background: #F4F4F4;


/* Ellipse 77 */

position: absolute;
width: 7px;
height: 7px;
left: 318px;
top: 616px;

background: #F4F4F4;


/* Ellipse 8 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 469px;

background: #F4F4F4;


/* Ellipse 18 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 490px;

background: #F4F4F4;


/* Ellipse 28 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 511px;

background: #F4F4F4;


/* Ellipse 38 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 532px;

background: #F4F4F4;


/* Ellipse 48 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 553px;

background: #F4F4F4;


/* Ellipse 58 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 574px;

background: #F4F4F4;


/* Ellipse 68 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 595px;

background: #F4F4F4;


/* Ellipse 78 */

position: absolute;
width: 7px;
height: 7px;
left: 339px;
top: 616px;

background: #F4F4F4;


/* Ellipse 9 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 469px;

background: #F4F4F4;


/* Ellipse 19 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 490px;

background: #F4F4F4;


/* Ellipse 29 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 511px;

background: #F4F4F4;


/* Ellipse 39 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 532px;

background: #F4F4F4;


/* Ellipse 49 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 553px;

background: #F4F4F4;


/* Ellipse 59 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 574px;

background: #F4F4F4;


/* Ellipse 69 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 595px;

background: #F4F4F4;


/* Ellipse 79 */

position: absolute;
width: 7px;
height: 7px;
left: 360px;
top: 616px;

background: #F4F4F4;


/* Ellipse 10 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 469px;

background: #F4F4F4;


/* Ellipse 20 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 490px;

background: #F4F4F4;


/* Ellipse 30 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 511px;

background: #F4F4F4;


/* Ellipse 40 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 532px;

background: #F4F4F4;


/* Ellipse 50 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 553px;

background: #F4F4F4;


/* Ellipse 60 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 574px;

background: #F4F4F4;


/* Ellipse 70 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 595px;

background: #F4F4F4;


/* Ellipse 80 */

position: absolute;
width: 7px;
height: 7px;
left: 381px;
top: 616px;

background: #F4F4F4;


/* Ellipse 11 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 469px;

background: #F4F4F4;


/* Ellipse 21 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 490px;

background: #F4F4F4;


/* Ellipse 31 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 511px;

background: #F4F4F4;


/* Ellipse 41 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 532px;

background: #F4F4F4;


/* Ellipse 51 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 553px;

background: #F4F4F4;


/* Ellipse 61 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 574px;

background: #F4F4F4;


/* Ellipse 71 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 595px;

background: #F4F4F4;


/* Ellipse 81 */

position: absolute;
width: 7px;
height: 7px;
left: 402px;
top: 616px;

background: #F4F4F4;


/* Ellipse 12 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 469px;

background: #F4F4F4;


/* Ellipse 22 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 490px;

background: #F4F4F4;


/* Ellipse 32 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 511px;

background: #F4F4F4;


/* Ellipse 42 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 532px;

background: #F4F4F4;


/* Ellipse 52 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 553px;

background: #F4F4F4;


/* Ellipse 62 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 574px;

background: #F4F4F4;


/* Ellipse 72 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 595px;

background: #F4F4F4;


/* Ellipse 82 */

position: absolute;
width: 7px;
height: 7px;
left: 423px;
top: 616px;

background: #F4F4F4;


/* Ellipse 13 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 469px;

background: #F4F4F4;


/* Ellipse 23 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 490px;

background: #F4F4F4;


/* Ellipse 33 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 511px;

background: #F4F4F4;


/* Ellipse 43 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 532px;

background: #F4F4F4;


/* Ellipse 53 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 553px;

background: #F4F4F4;


/* Ellipse 63 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 574px;

background: #F4F4F4;


/* Ellipse 73 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 595px;

background: #F4F4F4;


/* Ellipse 83 */

position: absolute;
width: 7px;
height: 7px;
left: 444px;
top: 616px;

background: #F4F4F4;


/* Ellipse 14 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 469px;

background: #F4F4F4;


/* Ellipse 24 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 490px;

background: #F4F4F4;


/* Ellipse 34 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 511px;

background: #F4F4F4;


/* Ellipse 44 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 532px;

background: #F4F4F4;


/* Ellipse 54 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 553px;

background: #F4F4F4;


/* Ellipse 64 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 574px;

background: #F4F4F4;


/* Ellipse 74 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 595px;

background: #F4F4F4;


/* Ellipse 84 */

position: absolute;
width: 7px;
height: 7px;
left: 465px;
top: 616px;

background: #F4F4F4;


/* Dot */

position: absolute;
width: 196px;
height: 154px;
left: 68px;
top: 469px;



/* Ellipse 5 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 469px;

background: #F4F4F4;


/* Ellipse 15 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 490px;

background: #F4F4F4;


/* Ellipse 25 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 511px;

background: #F4F4F4;


/* Ellipse 35 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 532px;

background: #F4F4F4;


/* Ellipse 45 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 553px;

background: #F4F4F4;


/* Ellipse 55 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 574px;

background: #F4F4F4;


/* Ellipse 65 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 595px;

background: #F4F4F4;


/* Ellipse 75 */

position: absolute;
width: 7px;
height: 7px;
left: 68px;
top: 616px;

background: #F4F4F4;


/* Ellipse 6 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 469px;

background: #F4F4F4;


/* Ellipse 16 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 490px;

background: #F4F4F4;


/* Ellipse 26 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 511px;

background: #F4F4F4;


/* Ellipse 36 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 532px;

background: #F4F4F4;


/* Ellipse 46 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 553px;

background: #F4F4F4;


/* Ellipse 56 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 574px;

background: #F4F4F4;


/* Ellipse 66 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 595px;

background: #F4F4F4;


/* Ellipse 76 */

position: absolute;
width: 7px;
height: 7px;
left: 89px;
top: 616px;

background: #F4F4F4;


/* Ellipse 7 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 469px;

background: #F4F4F4;


/* Ellipse 17 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 490px;

background: #F4F4F4;


/* Ellipse 27 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 511px;

background: #F4F4F4;


/* Ellipse 37 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 532px;

background: #F4F4F4;


/* Ellipse 47 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 553px;

background: #F4F4F4;


/* Ellipse 57 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 574px;

background: #F4F4F4;


/* Ellipse 67 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 595px;

background: #F4F4F4;


/* Ellipse 77 */

position: absolute;
width: 7px;
height: 7px;
left: 110px;
top: 616px;

background: #F4F4F4;


/* Ellipse 8 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 469px;

background: #F4F4F4;


/* Ellipse 18 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 490px;

background: #F4F4F4;


/* Ellipse 28 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 511px;

background: #F4F4F4;


/* Ellipse 38 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 532px;

background: #F4F4F4;


/* Ellipse 48 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 553px;

background: #F4F4F4;


/* Ellipse 58 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 574px;

background: #F4F4F4;


/* Ellipse 68 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 595px;

background: #F4F4F4;


/* Ellipse 78 */

position: absolute;
width: 7px;
height: 7px;
left: 131px;
top: 616px;

background: #F4F4F4;


/* Ellipse 9 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 469px;

background: #F4F4F4;


/* Ellipse 19 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 490px;

background: #F4F4F4;


/* Ellipse 29 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 511px;

background: #F4F4F4;


/* Ellipse 39 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 532px;

background: #F4F4F4;


/* Ellipse 49 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 553px;

background: #F4F4F4;


/* Ellipse 59 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 574px;

background: #F4F4F4;


/* Ellipse 69 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 595px;

background: #F4F4F4;


/* Ellipse 79 */

position: absolute;
width: 7px;
height: 7px;
left: 152px;
top: 616px;

background: #F4F4F4;


/* Ellipse 10 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 469px;

background: #F4F4F4;


/* Ellipse 20 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 490px;

background: #F4F4F4;


/* Ellipse 30 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 511px;

background: #F4F4F4;


/* Ellipse 40 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 532px;

background: #F4F4F4;


/* Ellipse 50 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 553px;

background: #F4F4F4;


/* Ellipse 60 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 574px;

background: #F4F4F4;


/* Ellipse 70 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 595px;

background: #F4F4F4;


/* Ellipse 80 */

position: absolute;
width: 7px;
height: 7px;
left: 173px;
top: 616px;

background: #F4F4F4;


/* Ellipse 11 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 469px;

background: #F4F4F4;


/* Ellipse 21 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 490px;

background: #F4F4F4;


/* Ellipse 31 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 511px;

background: #F4F4F4;


/* Ellipse 41 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 532px;

background: #F4F4F4;


/* Ellipse 51 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 553px;

background: #F4F4F4;


/* Ellipse 61 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 574px;

background: #F4F4F4;


/* Ellipse 71 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 595px;

background: #F4F4F4;


/* Ellipse 81 */

position: absolute;
width: 7px;
height: 7px;
left: 194px;
top: 616px;

background: #F4F4F4;


/* Ellipse 12 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 469px;

background: #F4F4F4;


/* Ellipse 22 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 490px;

background: #F4F4F4;


/* Ellipse 32 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 511px;

background: #F4F4F4;


/* Ellipse 42 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 532px;

background: #F4F4F4;


/* Ellipse 52 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 553px;

background: #F4F4F4;


/* Ellipse 62 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 574px;

background: #F4F4F4;


/* Ellipse 72 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 595px;

background: #F4F4F4;


/* Ellipse 82 */

position: absolute;
width: 7px;
height: 7px;
left: 215px;
top: 616px;

background: #F4F4F4;


/* Ellipse 13 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 469px;

background: #F4F4F4;


/* Ellipse 23 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 490px;

background: #F4F4F4;


/* Ellipse 33 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 511px;

background: #F4F4F4;


/* Ellipse 43 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 532px;

background: #F4F4F4;


/* Ellipse 53 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 553px;

background: #F4F4F4;


/* Ellipse 63 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 574px;

background: #F4F4F4;


/* Ellipse 73 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 595px;

background: #F4F4F4;


/* Ellipse 83 */

position: absolute;
width: 7px;
height: 7px;
left: 236px;
top: 616px;

background: #F4F4F4;


/* Ellipse 14 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 469px;

background: #F4F4F4;


/* Ellipse 24 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 490px;

background: #F4F4F4;


/* Ellipse 34 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 511px;

background: #F4F4F4;


/* Ellipse 44 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 532px;

background: #F4F4F4;


/* Ellipse 54 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 553px;

background: #F4F4F4;


/* Ellipse 64 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 574px;

background: #F4F4F4;


/* Ellipse 74 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 595px;

background: #F4F4F4;


/* Ellipse 84 */

position: absolute;
width: 7px;
height: 7px;
left: 257px;
top: 616px;

background: #F4F4F4;


/* Rectangle 23 */

position: absolute;
width: 178px;
height: 178px;
left: 1142px;
top: 546px;

background: #FFF5DB;
border-radius: 0px 0px 100px 0px;


/* Ellipse 85 */

position: absolute;
width: 129px;
height: 129px;
left: 623px;
top: 116px;

background: #DAE9FF;


/* image 8 */

position: absolute;
width: 754px;
height: 512px;
left: 686px;
top: 116px;

background: url(image.png);
border-radius: 0px 0px 0px 200px;


/* Content */

position: absolute;
width: 471px;
height: 265px;
left: 120px;
top: 239px;



/* A Digital Product Agency */

position: absolute;
width: 462px;
height: 49px;
left: 120px;
top: 239px;

font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;

color: #000000;

border: 1px solid #000000;


/* Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services. */

position: absolute;
width: 471px;
height: 78px;
left: 120px;
top: 328px;

font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */

color: #565656;



/* CTA_Contact Now */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
gap: 10px;

position: absolute;
width: 215px;
height: 65px;
left: 121px;
top: 439px;

background: #2639ED;
border-radius: 60px;


/* Contact Now */

width: 135px;
height: 25px;

font-family: 'Averta Demo PE Cutted Demo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height */
letter-spacing: 0.065em;

color: #FFFFFF;

border: 0.5px solid #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
